*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  display: flex;
  margin: 100px auto;
  justify-content: center;

}
.wrap{
  width: 80%;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:blanchedalmond;
  
}
h1{
  margin: 10px 280px;
  padding: 0px;
  font-size: 42px;
  color: blueviolet;
  margin-bottom: 20px;
}
.input{
  padding: 50px;
}
input{
 margin-bottom: 7px;
 padding: 10px;
 width: 100%; 
 border-radius: 10px;
 font-weight: 600;
 font-size: 17px;

}
.btn button{
  display: flex;
  justify-content: center;
  width: 30vh;
  margin: 20px;
  padding: 10px;
  font-size: 25px;
  font-weight: 600;
  background-color: rgb(178, 178, 187);
  border-radius: 20px;
  cursor: pointer;
}
